#titulo {
    text-align: center;
    color: black;
    font-size: 70px
}
body{
    background-image: url(carbonfiber.jpg);
    font-family: "roboto";
}
#boton{
    font-size: 30px;
    font-family: "roboto";
}
#form{
    display: flex;
    justify-content: center;
}
.error{
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}
.inputtext{
    color: red;
    display: flex;
}
.col{
  flex: 1;
}

